{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container">
    <h1 class="display-4 text-center mb-4">Big Cat Classifier</h1>
    <div class="card p-3">
        <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="image">Select an image to classify:</label>
                <input type="file" class="form-control-file" id="image" name="image">
            </div>
            <button type="submit" class="btn btn-primary mt-3">Classify</button>
        </form>
    </div>
    <br>
    {% if classification_results %}
    <div class="card p-3">
        {% set path = url_for("uploaded_file", filename=filename)%}
        <img src="{{ path }}" alt="Uploaded image" class="img-fluid mb-3" style="max-height: 400px;">
        <h2 class="text-center mb-3">Classification Results</h2>
        {% for result in classification_results %}
        <div class="card mb-2">
            <div class="card-body p-3">
                <h5 class="card-title">{{ result['label'] }}</h5>
                <p class="card-text">{{ result['score'] }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

{% endblock %}