{% extends "base.html" %}
{% block title %}Big Cat Classifier{% endblock %}
{% block content %}
<div class="container py-5">
    <h1 class="text-center text-primary display-4 mb-4">Big Cat Classifier</h1>
    <div class="row justify-content-center align-items-start">
        <div class="col-md-6">
            <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data" class="mb-4">
                <div class="mb-3">
                    <label for="image" class="form-label text-secondary h4">Select an image to classify:</label>
                    <input type="file" class="form-control" id="image" name="image">
                </div>
                <button type="submit" class="btn btn-primary btn-lg">Classify</button>
            </form>
        </div>
        {% if classification_results %}
        <div class="col-md-6">
            {% set path = url_for("uploaded_file", filename=filename) %}
            <img src="{{ path }}" alt="Uploaded image" class="img-fluid rounded mb-4" width="100%">
            <div class="list-group">
                {% set top_result = classification_results[0] %}
                {% for result in classification_results %}
                <div
                    class="list-group-item d-flex justify-content-between align-items-center {% if result == top_result %}bg-light{% endif %}">
                    <span class="text-secondary h5">{{ result['label'] }}</span>
                    <span class="badge bg-primary rounded-pill">{{ result['score']|round(3) }}</span>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}